@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color #f1f1f1;
    color: #292f3a;
    font-size: 18px;
    font-weight: normal;
    font-family:'Open Sans Condensed', sans-serif;  
}
a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:gold
}
a:visited{
    color:grey;
}
.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 28);
    margin-bottom: 30px;
}

.maininfo p{
    margin-bottom: 30px;
}
.maininfo p{
    color:#86898f;
    margin: 0;
    font-style: italic;
    text-decoration: none;
    
}
.socialinfo {
    margin-bottom: 10px;
}

.container{
max-width:750px;
margin:auto;
}
/*.social{
    background:#eff4fd;
    padding: 15px 10px;
    margin:5px;
    border-radius: 12px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 20);
}*/
 .card{
     padding:15px 20px;
     background:#dde0e6;
     margin-bottom: 20px;
     border-radius: 6px;
     box-shadow: 2px 2px 3px rgba(0, 0, 0, 28);
 }
 .list{
     padding:0;
     list-style: none;
 }
 .list li{
     margin-bottom: 7px;
 }
.work {
    width: 100%;
}
.work tr:nth-child(odd){
margin-left: 0;
font-weight: 900;
}
.science{
    list-style: none;
    padding: 0;
    font-size: 18px;
}
.contact h2{
    text-align:center;
}
.formgroup label {
 display:block;
 font-size: 18px;
}
.formgroup input,
.formgroup textarea{
    width: 100%;
    box-sizing: border-box;
    border:none;
    background: #dde0e6;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 28);
    color:black;
    border-radius: 3px;
    outline:none;
}
.row {
    display: flex;
    margin-bottom: 20px;

}
.row > .formgroup{
    width:50%;
    margin-right: 10px;
}
.row > .formgroup:last-child {
    margin-right: 0;
}
.maininfo {
    display:flex;
}

@media  {max-width: 700px;
     .maininfo{
         text-align: center;
         display:block;
     }
}
.infotext {
    margin-left: 20px;
    border-bottom: 10px;
}
.btn {
    background: #111;
    padding: 15px 20px;
    color: #f1f1f1;
    border:none;
    font-family:  'Open Sans Condensed', sans-serif;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
/*.position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;

}

.box{
    width:30px;
    position: fixed;
    right:25px;
    bottom: 25px;
    height:50px;
    background:black;
    border-radius: 50%;

}*/